<% include partials/header %>

<div class="jumbotron">
    <div class="alert alert-danger text-center" role="alert">
        User <strong><%= name %></strong> was not found. Be sure to check <a href="/getusers" class="alert-link">List of current users</a>
    </div>
</div>

<% include partials/footer %>